body {
    background-image: url(https://image.shutterstock.com/image-vector/illuminated-stage-on-stadium-vector-260nw-774206896.jpg);
   background-size: 98%;
}

h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 90px;
    color: snow;
}

.box {
    position: absolute;
    bottom: 30%;
    right: 47%;
    text-align: center;
    background-color: teal;
    border: 2px rgb(93, 198, 236);
    width: 150px;
    box-sizing: border-box;
    border-style: solid;
    border-color: snow;
    border: 40px; 
    border: 10px snow;
    color:black;
    background-color: rgb(153, 170, 202);
    padding: 5px;
    } 

.tab {
    position: absolute;
    bottom: 30%;
    right: 47%;
}

.modal-content {
position: relative;
top: 300px;
background-image: url(https://wallpaperaccess.com/full/44211.jpg);
color: snow;

}